/* MENU */

nav {
  margin: auto;
  padding: 10px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a85582;
  flex-wrap: wrap;
}

.logo {
  width: 120px;
  cursor: pointer;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

nav ul li {
  position: relative;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

nav ul li::after {
  content: "";
  height: 3px;
  width: 0;
  background: #87ceeb;
  position: absolute;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

nav ul li:hover::after,
nav ul li.active::after {
  width: 100%;
}

/* FOOTER  */

footer {
  padding: 15px 10px;
  background: #101010;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer p {
  color: #fff;
  font-size: 14px;
}

/* HISTORY-NEWS */

.container {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}

/* RESPONSIVE MENU */

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    gap: 20px;
  }

  nav ul {
    justify-content: center;
    gap: 15px;
  }

  nav ul li::after {
    bottom: -6px;
  }
}

@media (max-width: 480px) {
  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 12px;
  }

  nav ul li::after {
    bottom: -4px;
  }
}
